.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 8px; 
  height: 5vh; 
}

.logo {
  width: 80px; 
  height: auto;
}

.help-button {
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px; 
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; 
  background-size: cover;
  background-position: center;
}

.login-container {
  background-color: rgba(214, 214, 214, 0.72);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 20px; 
}

.login-container form input {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.login-container form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container form button:hover {
  background-color: #0056b3;
}

.login-container h1 {
  margin-top: 20px;
  margin-bottom: 50px; 
  font-size: 60px; 
}

.login-container form input:hover {
  outline: 3px solid #999; 
}

.company-name {
  margin-left: 20px;
  color: white; 
  align-items: center;
  font-weight: bold;
}


/*navbar*/
/* Navbar.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  
}

.logo {
  width: 80px;
  height: auto;
}

.company-name,
.nav-link,
.help-button,
.inicio,
.planes,
.destinos,
.usuarios {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.inicio {
  margin-right: 10px;
}

.planes {
  margin-right: 10px;
}

.destinos {
  margin-right: 10px;
}

.usuarios {
  margin-right: 10px;
}

.menu-container {
  position: relative;
}

.menu-btn {
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding: 0 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  padding: 0 10px;
  position: relative;
}

.dropdown-parent:hover .submenu {
  display: block;
}

.menu .submenu {
  display: none;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu .submenu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.menu .submenu a:hover {
  background-color: #f0f0f0;
}

/* MainScreen.css */
.plan-title {
  font-family: 'Montserrat', sans-serif; 
  font-size: 40px; 
  margin-left: 4%; 
}

.bienvenida {
  font-family: 'Montserrat', sans-serif; 
  font-size: 35px; 
  margin-left: 4%; 
  margin-bottom: 5%;
}

.main-container {
  padding-top: 70px; 
  display: flex;
  width: 100%;
  background-color: #f0f0f0;
}

.recently {
  display: block;
}

.left-quadrant {
  flex: 1;
  background-color: #f0f0f0;
  width: 100%;
}

.recent-plans {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.recent-plans-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* HelpPage.css */
.help-page {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.help-page h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.help-page p {
  color: #555;
  font-size: 16px;
  margin-bottom: 5px;
}

.faq-item {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-item.open {
  max-height: 500px; 
}

.faq-item p {
  margin-top: 0;
  margin-bottom: 10px;
}

.faq-title {
  font-size: 24px; 
}
/*CreateUser.css*/
.create-user-container {
  display: flex;
  height: 100vh;
  z-index: 1; 

}

.fixed-left {
  width: 45%;
  padding: 20px;
  background-color: #f0f0f0;
  position: fixed;
  height: 100vh;
  overflow: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-left h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.fixed-left p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.scrollable-right {
  width: 50%;
  margin-left: 50%;
  padding: 20px;
  overflow-y: auto;
}

.create-user-form {
  display: flex;
  flex-direction: column;
  padding: 20px;

}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.form-group input,
.form-group select {
  width: calc(100% - 20px);
  
  padding: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0ad4e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ec971f;
}
/* AddPlanScreen.css */
/*AddPlanScreen.css*/

.add-plan-container {
  display: flex;
  height: 100vh;
  z-index: 1; 
}

.fixed-left {
  width: 45%;
  padding: 20px;
  background-color: #f0f0f0;
  position: fixed;
  height: 100vh;
  overflow: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-left h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.fixed-left p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.scrollable-right {
  width: 50%;
  margin-left: 50%;
  padding: 20px;
  overflow-y: auto;
}

.add-plan-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.form-group input,
.form-group select {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0ad4e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ec971f;
}
/* AddDestinationScreen.css */

.create-user-container {
  display: flex;
  height: 100vh;
  z-index: 1; 
}

.fixed-left {
  width: 45%;
  padding: 20px;
  background-color: #f0f0f0;
  position: fixed;
  height: 100vh;
  overflow: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-left h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.fixed-left p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.scrollable-right {
  width: 50%;
  margin-left: 50%;
  padding: 20px;
  overflow-y: auto;
}

.create-user-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Estilo para q en los botones hagan la transicion de color*/

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0ad4e; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

button[type="submit"]:hover {
  background-color: #ec1f1f; 
}

/* view users css*/
/* ViewUsers.css */

.view-users-container {
  padding: 20px;
}

.usernamelist {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.users-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px; /* Añade espacio entre las filas */
}

.users-table th {
  background-color: #f0ad4e;
  color: white;
  padding: 10px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.users-table td {
  background-color: white;
  padding: 10px;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expand-button {
  padding: 5px 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0ad4e; /* Color amarillo de Iberia */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Agregar transición al cambio de color */
}

.expand-button:hover {
  background: linear-gradient(45deg, #f0ad4e, #ec971f);
  color: #fff;
}

.actions {
  display: flex;
  gap: 5px;
}

.action-button {
  padding: 5px 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Agregar transición al cambio de color */
}

.edit-button {
  background-color: #5bc0de; /* Color azul claro */
}

.edit-button:hover {
  background-color: #31b0d5; /* Azul claro más oscuro */
}

.delete-button {
  background-color: #d9534f; /* Color rojo */
}

.delete-button:hover {
  background-color: #c9302c; /* Rojo más oscuro */
}

.user-details {
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.user-details p {
  margin: 5px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}
