.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 8px; 
  height: 5vh; 
}

.logo {
  width: 80px; 
  height: auto;
}

.help-button {
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-right: 20px; 
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh; 
  background-size: cover;
  background-position: center;
}

.login-container {
  background-color: rgba(214, 214, 214, 0.72);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; 
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 20px; 
}

.login-container form input {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.login-container form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container form button:hover {
  background-color: #0056b3;
}

.login-container h1 {
  margin-top: 20px;
  margin-bottom: 50px; 
  font-size: 60px; 
}

.login-container form input:hover {
  outline: 3px solid #999; 
}

.company-name {
  margin-left: 20px;
  color: white; 
  align-items: center;
  font-weight: bold;
}


/*navbar*/
/* Navbar.css */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
  background-color: #ffffff; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  padding: 10px 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 8px;
  font-family: 'Montserrat', sans-serif;
  
}

.logo {
  width: 80px;
  height: auto;
}

.company-name,
.nav-link,
.help-button,
.inicio,
.planes,
.destinos,
.usuarios {
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  font-weight: bold;
}

.inicio {
  margin-right: 10px;
}

.planes {
  margin-right: 10px;
}

.destinos {
  margin-right: 10px;
}

.usuarios {
  margin-right: 10px;
}

.menu-container {
  position: relative;
}

.menu-btn {
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding: 0 20px;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.menu li {
  padding: 0 10px;
  position: relative;
}

.dropdown-parent:hover .submenu {
  display: block;
}

.menu .submenu {
  display: none;
  position: absolute;
  top: calc(100% + 2px);
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu .submenu a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.menu .submenu a:hover {
  background-color: #f0f0f0;
}

/* MainScreen.css */
.plan-title {
  font-family: 'Montserrat', sans-serif; 
  font-size: 40px; 
  margin-bottom: 80px;
  margin-left: 4%; 
}

.main-container {
  padding-top: 70px; 
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
}

.recently {
  display: block;
}

.left-quadrant {
  flex: 1;
  padding: 20px;
  background-color: #f0f0f0;
}

.recent-plans {
  display: flex;
  justify-content: center; 
  gap: 40px; 
}

.plan {
  position: relative; 
  width: 400px;
  height: 300px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); 
  border: 1px solid black;
  overflow: hidden;
}

.plan img {
  width: 100%;
  height: auto;
}

.plan-details {
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  color: white;
  padding: 10px;
  width: 100%;
  text-align: justify;
}

.plan-details h3,
.plan-details p {
  margin: 5px 0;
}

.plan-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.plan:hover .plan-overlay {
  opacity: 1;
}

.select-button {
  padding: 10px 20px;
  background-color: #FF0000; 
  color: white;
  border: none;
  border-radius: 25px; 
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease; 
  font-weight: bold;
}

.select-button:hover {
  background-color: #FFD700; 
  transform: scale(1.1);
}

/* HelpPage.css */
.help-page {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.help-page h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 10px;
}

.help-page p {
  color: #555;
  font-size: 16px;
  margin-bottom: 5px;
}

.faq-item {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.faq-item.open {
  max-height: 500px; 
}

.faq-item p {
  margin-top: 0;
  margin-bottom: 10px;
}

.faq-title {
  font-size: 24px; 
}
/*CreateUser.css*/
.create-user-container {
  display: flex;
  height: 100vh;
  z-index: 1; 

}

.fixed-left {
  width: 45%;
  padding: 20px;
  background-color: #f0f0f0;
  position: fixed;
  height: 100vh;
  overflow: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-left h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.fixed-left p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.scrollable-right {
  width: 50%;
  margin-left: 50%;
  padding: 20px;
  overflow-y: auto;
}

.create-user-form {
  display: flex;
  flex-direction: column;
  padding: 20px;

}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.form-group input,
.form-group select {
  width: calc(100% - 20px);
  
  padding: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0ad4e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ec971f;
}
/* AddPlanScreen.css */
/*AddPlanScreen.css*/

.add-plan-container {
  display: flex;
  height: 100vh;
  z-index: 1; 
}

.fixed-left {
  width: 45%;
  padding: 20px;
  background-color: #f0f0f0;
  position: fixed;
  height: 100vh;
  overflow: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-left h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.fixed-left p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.scrollable-right {
  width: 50%;
  margin-left: 50%;
  padding: 20px;
  overflow-y: auto;
}

.add-plan-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.form-group input,
.form-group select {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0ad4e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ec971f;
}
/* AddDestinationScreen.css */

.create-user-container {
  display: flex;
  height: 100vh;
  z-index: 1; 
}

.fixed-left {
  width: 45%;
  padding: 20px;
  background-color: #f0f0f0;
  position: fixed;
  height: 100vh;
  overflow: auto;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.fixed-left h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.fixed-left p {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
}

.scrollable-right {
  width: 50%;
  margin-left: 50%;
  padding: 20px;
  overflow-y: auto;
}

.create-user-form {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: calc(100% - 20px);
  padding: 10px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #ccc;
  border-radius: 4px;
}


/* Estilo para q en los botones hagan la transicion de color*/

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f0ad4e; 
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

button[type="submit"]:hover {
  background-color: #ec1f1f; 
}

